@charset "UTF-8";


* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: gray;
}

header {
    background-color: black;
    color: white; 
    text-align: center;
}

header h1 {
    padding-top: 50px;
    /*text-transform: capitalize;*/
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
}

header a, footer a {
    text-decoration: none;
    color: white ;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section {
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-size: 10vh;
}

section.normal {
    background-color: white;
    color: black;
}

section.image {
    background-color: rgb(61, 61, 61);
    color: white;
}

section.image > p {
    background-color: black;
    width: 300px;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}