@charset "UTF-8";

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #84e1ad;
    margin: 0px;
}

header {
    background-image: linear-gradient(to bottom, #3bd47f, #1a5c38);
    width: auto;

}

header > p {
    margin: 0px;
}

#maintitle {
    margin: 0px;
}